/node_modules
/oh_modules
**/oh_modules
/local.properties
/.idea
**/build
/.hvigor
**/.hvigor
.tmp/
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

/entry/src/main/resources/rawfile/genshin-impact-game/*
!/entry/src/main/resources/rawfile/genshin-impact-game/.gitkeep
!/entry/src/main/resources/rawfile/genshin-impact-game/PROTON_PLACEHOLDER.txt
/entry/src/main/resources/rawfile/mihoyo-launcher/*
!/entry/src/main/resources/rawfile/mihoyo-launcher/.gitkeep
!/entry/src/main/resources/rawfile/mihoyo-launcher/PROTON_PLACEHOLDER.txt
/entry/src/main/resources/rawfile/win32-smoke/*
!/entry/src/main/resources/rawfile/win32-smoke/.gitkeep
!/entry/src/main/resources/rawfile/win32-smoke/PROTON_PLACEHOLDER.txt

/proton/src/main/resources/rawfile/runtime/proton/*
!/proton/src/main/resources/rawfile/runtime/proton/.gitkeep
/proton/src/main/libs/**/*.so
!/proton/src/main/libs/**/.gitkeep

/entry/src/main/cpp/*_patch_blob.inc

*.hap
*.hsp
*.app
*.har
proton_hmos_*.jpeg
proton_hmos_*.txt

/third_party/proton-runtime/src/*
!/third_party/proton-runtime/src/.gitkeep
